<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"> <!--A pagina decora a herança da pagina template.html. Como se fosse extends-->

<head>
    <title>Lista de Veiculos</title>
</head>
<body>

<div layout:fragment="conteudo">
    <h1>Lista de Veiculos</h1>
    <a href="/veiculos/cadastro">Cadastrar novo veiculo.</a>
    <table>
        <thead> <!--Delimita o tamanho da tabela-->
        <tr>
            <th>NOME</th>
            <th>FABRICANTE</th>
            <th>ANO</th>
            <th>PLACA</th>
            <th>AÇÕES</th>
        </tr>
        </thead>
        <tbody><!--Corpo da tabela-->
            <tr th:each="veiculo : ${lista}"> <!--Ira procurar a variavel lista, fara um loop e ira armazenar em filme-->
                <td th:text="${veiculo.nome}"></td>
                <td th:text="${veiculo.fabricante}"></td>
                <td th:text="${veiculo.anoFab}"></td>
                <td th:text="${veiculo.placa}"></td>
                <td>
                    <form action="/veiculos" method = "post">
                        <input type ="hidden" name = "_method" value = "delete">
                        <input type = "submit" value = "Excluir">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>